/* responsive */

@media screen and (max-width: 768px) {
  /* header */
  header .items-menu-mobile {
    width: 50%;
    text-align: right;
    display: block;
  }
  header .items-menu {
    display: none;
  }
  .menu-mobile {
    opacity: 0;
    transition: 1s;
    position: absolute;
    left: 0;
    top: 65px;
    background-color: #ffffff;
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
  .show {
    opacity: 1;
  }
  .hide {
    opacity: 0;
  }
  .menu-mobile a {
    text-align: center;
    display: block;
    margin: 10px 0;
    color: rgb(40, 40, 40);
    text-decoration: none;
    font-weight: bold;
  }
  .menu-mobile a:hover {
    border-bottom: 2px solid #0f3fd3;
  }
  /* marcas */
  section.marcas > .center {
    flex-wrap: nowrap;
    flex-direction: column;

    align-items: center;
  }

  section.marcas img {
    max-width: 300px;
    width: 100%;
  }
  /* porque nos */
  .diferenciais {
    display: flex;
    flex-wrap: wrap;
  }
  .box-diferenciais {
    width: 100%;
    margin-right: 0;
  }
  /* beneficios */
  .beneficios .center {
    display: flex;
    justify-content: center;
  }

  .lista-beneficios,
  .img-beneficios {
    width: 100%;
    margin-bottom: 30px;
  }

  .beneficios .img-beneficios img {
    width: 100%;
  }
  /* footer */
  .text-footer {
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
  footer .items-menu {
    width: 100%;
    text-align: center;
  }
  footer .items-menu a {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
}
